* {
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #222;
}
.container {
    width: 90%;
    margin: 60px auto 0;
    padding: 30px 45px;
    max-width: 470px;
    text-align: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 10px;
    color: white;
    
}
.title {
    line-height: 1.5;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input {
    height: 46px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    font-size: 18px;
    flex: 1;
    border-radius: 30px;
    margin-right: 8px;
}
button {
   border: 0;
   outline: 0;
   background-color: #ebfffc;
   border-radius: 50%;
   width: 50px;
   height: 48px;
   cursor: pointer;
}
.weather-icon {
    width: 50%;
}
.weather h1 {
    font-size: 80px;
    font-weight: 500;
    margin-top: -6px;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
   
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;

}
.col img {
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}